@font-face {
  font-family: "iconfont"; /* Project id 2944016 */
  src: url('iconfont.eot?t=1646791150597'); /* IE9 */
  src: url('iconfont.eot?t=1646791150597#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1646791150597') format('woff2'),
       url('iconfont.woff?t=1646791150597') format('woff'),
       url('iconfont.ttf?t=1646791150597') format('truetype'),
       url('iconfont.svg?t=1646791150597#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ho-icon-calendar:before {
  content: "\e814";
}

.ho-icon-eye:before {
  content: "\e806";
}

.ho-icon-zoomout1:before {
  content: "\e6d9";
}

.ho-icon-zoomin1:before {
  content: "\e6da";
}

.ho-icon-zoomin1-copy:before {
  content: "\e71e";
}

.ho-icon-arrow-double-right:before {
  content: "\e66d";
}

.ho-icon-close:before {
  content: "\e66e";
}

.ho-icon-check-item:before {
  content: "\e66f";
}

.ho-icon-direction-down:before {
  content: "\e670";
}

.ho-icon-copy:before {
  content: "\e671";
}

.ho-icon-edit:before {
  content: "\e672";
}

.ho-icon-eye-close:before {
  content: "\e673";
}

.ho-icon-error:before {
  content: "\e674";
}

.ho-icon-favorite:before {
  content: "\e675";
}

.ho-icon-fabulous:before {
  content: "\e676";
}

.ho-icon-minus-circle:before {
  content: "\e677";
}

.ho-icon-minus:before {
  content: "\e67a";
}

.ho-icon-search:before {
  content: "\e67d";
}

.ho-icon-select:before {
  content: "\e67e";
}

.ho-icon-smile:before {
  content: "\e67f";
}

.ho-icon-zoom-in:before {
  content: "\e683";
}

.ho-icon-zoom-out:before {
  content: "\e684";
}

.ho-icon-add-bold:before {
  content: "\e685";
}

.ho-icon-arrow-left-bold:before {
  content: "\e686";
}

.ho-icon-arrow-up-bold:before {
  content: "\e687";
}

.ho-icon-setting-filling:before {
  content: "\e68b";
}

.ho-icon-search1:before {
  content: "\e6f4";
}

.ho-icon-Feedback:before {
  content: "\e6fd";
}

.ho-icon-edit1:before {
  content: "\e71d";
}

.ho-icon-a-add2:before {
  content: "\e60d";
}

.ho-icon-approve:before {
  content: "\e60e";
}

.ho-icon-shanchu:before {
  content: "\e601";
}

.ho-icon-dianzan:before {
  content: "\e698";
}

.ho-icon-dingwei:before {
  content: "\e699";
}

.ho-icon-fenxiang:before {
  content: "\e69a";
}

.ho-icon-faxian:before {
  content: "\e69b";
}

.ho-icon-jilu:before {
  content: "\e69c";
}

.ho-icon-shezhi:before {
  content: "\e69d";
}

.ho-icon-tishi:before {
  content: "\e69f";
}

.ho-icon-shijian:before {
  content: "\e6a0";
}

.ho-icon-sousuo:before {
  content: "\e6a1";
}

.ho-icon-xiazai:before {
  content: "\e6a2";
}

.ho-icon-xiaoxi:before {
  content: "\e6a3";
}

.ho-icon-wenjianjia:before {
  content: "\e6a4";
}

.ho-icon-add:before {
  content: "\e664";
}

.ho-icon-add-circle:before {
  content: "\e665";
}

.ho-icon-arrow-up-circle:before {
  content: "\e666";
}

.ho-icon-arrow-right-circle:before {
  content: "\e667";
}

.ho-icon-arrow-down:before {
  content: "\e668";
}

.ho-icon-ashbin:before {
  content: "\e669";
}

.ho-icon-bottom:before {
  content: "\e66a";
}

.ho-icon-bad:before {
  content: "\e66b";
}

.ho-icon-arrow-double-left:before {
  content: "\e66c";
}

